.ui-listview > li {
    display: table;
    width: 100%;
}

.ui-listview > li > a.ui-btn {
    line-height: 60px;
    overflow: initial;
    margin-right: 0;
    transition: transform 400ms ease-out;
}

.ui-listview > li span.toggle {
    z-index: auto;
    box-sizing: border-box;
    height: 83.4px;
    width: 0;
    float: right;
    display: table-cell;
    transition: width 380ms ease-out;
    background-color: #AF0900 !important;
}

.ui-listview > li span.show {
    width: 70px;
    cursor: pointer;
}

.ui-listview > li p.btn {
    line-height: 64.2px;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    text-shadow: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    text-overflow: clip;
    user-select: none;
}

.ui-listview > li img {
    user-select: none;
    max-height: 83.4px;
    margin-left: 10px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  background-color: #bbb;
}
